/* author: https://codepen.io/ricardoolivaalonso/pen/oNVpvJB
Ricardo Oliva Alonso */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: monospace;
}

body {
  overflow: hidden;
  
  background-color: #282828;
  cursor: grab;
}

.webgl,
#loader {
  position: fixed;
  top: 0;
  left: 0;
}

#loader {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: red;
}